table {

	margin: 10px;
	padding: 0px;
	float: left;
	border-spacing: 0px;

}
thead tr {
	background: #eee;
	font-style: italic;
}
.i {
	width: 30px;
	text-align: left;
	color: #888;
}

td {
	border: 1px solid #eee;

	width: 25px;
	height: 15px;
	text-align: center;
}

.data {
	width: 1200px;
	min-height: 300px;
	margin-bottom: 20px;
}
canvas {
	border: 2px solid #eee;
	float: left;
}
.stat {
	width: 400px;
	margin-left: 200px;
}

.tableContainer {
	width: 150px; 
	height: 200px; 
	float: left;
}