<!DOCTYPE html>
<html lang="ru" ng-app="game">
<head>
	<meta charset="utf-8">
	<title>Теория игр л.1 Алгоритм Джонсона</title>

	<!-- Le styles -->
	<link href="/custom.css" rel="stylesheet">

</head>

<body>
	<div ng-controller="Lab1Ctrl" >

		<select ng-change="sequenceCountChanged()"
						ng-options="value.number as value.label for value in sequenceCountOptions"
						ng-model="sequenceCount">
		</select>

		<div class="data">
			<h2>Исходная таблица</h2>
			<div class="tableContainer">
				<table>
					<thead>
						<tr>
							<td class="i">i</td>
							<td  ng-repeat="col in columns.slice(0,sequenceCount)">{{ col }}</td>
						</tr>
					</thead>
					<tbody>
							<tr ng-repeat="Ai in sequences[0]">
								<td class="i"> {{ $index + 1}} </td>
								<td ng-repeat="col in columns.slice(0,sequenceCount)">
									{{ sequences[$index][$parent.$index]}}
								</td>
							</tr>
					</tbody>
				</table>
			</div>
			<canvas id="inputGraph" width="1000" height="200"></canvas>
			<div class="stat">
				X: {{ sourceParams['X'] }}, 
				T: {{ sourceParams['T'] }}, 
			</div>
		</div>

		
		<div class="data">
			<h2>Оптимизированная таблица</h2>
			<div class="tableContainer">
				<table>
					<thead>
						<tr>
							<td class="i">i</td>
							<td  ng-repeat="col in columns.slice(0,sequenceCount)">{{ col }}</td>
						</tr>
					</thead>
					<tbody>
							<tr ng-repeat="Ai in optimizedSequences[0]">
								<td class="i"> {{ $index + 1}} </td>
								<td ng-repeat="col in columns.slice(0,sequenceCount)">
									{{ optimizedSequences[$index][$parent.$index]}}
								</td>
							</tr>
					</tbody>
				</table>
			</div>
			<canvas id="optimizedGraph" width="1000" height="200"></canvas>
			<div class="stat">
				X: {{ optimizedParams['X'] }}, 
				T: {{ optimizedParams['T'] }}, 
			</div>
		</div>
	</div>

		<script src="/angular.js"></script>
		<script src="/script.js"></script>

</body>
</html>
